In [6]:
import pandas as pd
df =  pd.read_csv("car.csv")
df

,buyind price,maintenance price,no.of doors,size of luggage boot,safety estimated
0,vhigh,vhigh,2,small,low
1,high,high,3,med,med
2,med,med,4,big,hgh
3,low,low,5,small,low

In [7]:
df.loc[df["no.of doors"] < 4,"no.of doors"] = 0
df.loc[df["no.of doors"] == 4, "no.of doors"] =1
df.loc[df["no.of doors"]  == 5,"no.of doors"] = 1
df.loc[df["no.of doors"] > 6, "no.of doors"] = 2

In [8]:
df.head(5)

,buyind price,maintenance price,no.of doors,size of luggage boot,safety estimated
0,vhigh,vhigh,0,small,low
1,high,high,0,med,med
2,med,med,1,big,hgh
3,low,low,1,small,low

In [5]:
import pandas as pd
df =  pd.read_csv("car.csv")

df.head()

,buyind price,maintenance price,no.of doors,size of luggage boot,safety estimated
0,vhigh,vhigh,2,small,low
1,high,high,3,med,med
2,med,med,4,big,hgh
3,low,low,5,small,low

df.iloc[2]

In [7]:
df.iloc[2]

buyind price            med
maintenance price       med
no.of doors               4
size of luggage boot    big
safety estimated        hgh
Name: 2, dtype: object

In [15]:
df.no.of doors.mean()

SyntaxError: invalid syntax (Temp/ipykernel_4788/1148862749.py, line 1)